[submodule "vim/bundle/solarized"]
  path=vim/bundle/vim-colors-solarized
  url=git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/surround"]
  path=vim/bundle/vim-surround
  url=git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-javascript"]
  path = vim/bundle/vim-javascript
  url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/bundle/phpcomplete"]
  path = vim/bundle/phpcomplete
  url = https://github.com/shawncplus/phpcomplete.vim
